@use 'base' as *;

.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $container-row-gap;
  column-gap: $container-column-gap;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: $container-padding-vertical $container-padding-horizontal;
}

@media (min-width: $breakpoint-sm) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $breakpoint-md) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $breakpoint-lg) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
